.friend_list {
  padding: 20px;
  background-color: #fbffb1;
  border-radius: 20px;
}

.item {
  display: flex;
  align-items: center;
  width: 400px;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 10px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.status {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.avatar {
  width: 100px;
}

.name {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
